body {
    font-size: 100%;
    margin: 0% 0% 0% 0%;
    background-color: #EDEAE3;
    }

#header_text {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2em;
    margin: 0% 0% 0% 0%;
    padding: 2% 0;
    /*background-color: #86C543;*/
    background-color: #AC2727;
    text-shadow: 1px 1px rgba(0,0,0, 0.4);
    color: #FFFFFF
    
}
 
.button_bar {
    /*background-color: #34302D;*/
    background-color: #499090;
    margin-top: 1%;
    padding: 0.1%;
}

.button {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 1em;
    /*background-color: #34302D;*/
    background-color: #499090;
    text-shadow: 1px 1px rgba(0,0,0, 0.4);
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    padding: 0.5% 1%;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-decoration: none;
}
.button:hover {
    /*background-color: #4C4642;*/
    background-color: #2A7979;
}

.text_box {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 1.1em;
    color: #1F7428;
}

#canvas_block {
    position: relative;
    margin-top: 1%;
    width: 90%;
    max-width: 640px;
    max-height: 480px;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
}

		/*  :::::::::: [ IE 10 TWEAKS START ] ::::::::::  */

@media (-ms-high-contrast: active) and (min-width: 100px), (-ms-high-contrast: none) and (min-width: 100px) {
	 
	canvas {
		  width: 320px !important;
		  height: 240px !important;
		}
 }
 
@media (-ms-high-contrast: active) and (min-width: 480px), (-ms-high-contrast: none) and (min-width: 480px) {
		
	canvas {
		  width: 480px !important;
		  height: 360px !important;
		}
 }

 @media (-ms-high-contrast: active) and (min-width: 640px), (-ms-high-contrast: none) and (min-width: 640px) {
		
	canvas {
		  width: 640px !important;
		  height: 480px !important;
		}
 }